@page "/"


<PageTitle>SiLoKon</PageTitle>



<!--
<MudPaper MaxWidth="MaxWidth.Small">
    <MudContainer>
        <MudImage style=" max-width: 100vw; height: 50%; max-height: 100vh; width: auto;" src="Images/i-want-picture-0.png" />
    </MudContainer>

</MudPaper>
-->

<div class="container">    
    <div class="centered"><b>GRADIMO ZAJEDNO</b></div>
</div>

<div class="razmak"></div>

<MudPaper Elevation="0">
    <div>
    <MudGrid Justify="Justify.Center" Spacing="2" >
            <MudItem xs="12" sm="6" md="6" lg="2" xl="2" >
            <MudCard  Style="height:100%; "  >
                <MudCardMedia Height="400"   Image="Images/my_silo.jpeg" />
                <MudCardContent >
                    <MudText Typo="Typo.h5">Zašto MySilo?</MudText>
                    <MudText Typo="Typo.body2">MySilo je najveći proizvođač silosa i ostale opreme u Europi, s preko 2500 odrađenih projekata i preko 2000 zadovoljnih klijenata iz 80 zemalja.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton FullWidth Variant="Variant.Text" Color="Color.Primary" Href="https://www.youtube.com/watch?v=ovI0Vc1hi14&t=117s">Više...</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
            <MudItem xs="12" sm="6" md="6" lg="2" xl="2">
            <MudCard  Style="height:100%">
               <MudCardMedia Height="400" Image="Images/logo-original-1000.jpg" />
                                
                <MudCardContent>
                    
                    <MudText Typo="Typo.h5">Zašto SiLoKon?</MudText>
                    <MudText Typo="Typo.body2">Službeni smo zastupnici MySilo grupe za Hrvatsku i BiH. Iako smo kao firma mladi, iza nas su godine iskustva u montaži poljoprivrednih postrojenja i metalnih konstrukcija. </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
            <MudItem xs="12" sm="6" md="6" lg="2" xl="2">
            <MudCard Style="height:100%">
                <MudCardMedia Height="400" Image="Images/image1_0.jpg" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Profesionalan Pristup</MudText>
                    <MudText Typo="Typo.body2">Svaki Vaš upit prosljeđujemo našim kolegama u Tursku, gdje se obrađuje i prilagođava Vašim zahtjevima. </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
            <MudItem xs="12" sm="6" md="6" lg="2" xl="2">
            <MudCard Style="height:100%">
                <MudCardMedia Height="400" Image="Images/1222.jpg" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Metalne konstrukcije</MudText>
                    <MudText Typo="Typo.body2">Uz montažu poljoprivredne opreme bavimo se i izradom i montažom čeličnih konstrukcija (proizvodnih hala, skladišnih prostora, garaža...).</MudText>
                </MudCardContent>
                <MudCardActions>
                         <MudButton FullWidth Variant="Variant.Text" Color="Color.Primary" Href="/konstrukcije">Više...</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
    </div>
</MudPaper>

<div ></div>




