<div style="margin-top:auto">
    <MudPaper Style="background:#1f1f1f">
    <MudContainer  MaxWidth="MaxWidth.Large" Style="padding-top:10px;">
            
            <MudStack Justify="Justify.FlexStart" Row>
                <MudImage Style="max-width:200px; height:auto" Class="d-inline-block" Src="/Images/logo-original-200.png"></MudImage>

                
                    <MudList Style="max-width:100px; " Class="d-inline-block">
                        <MudListItem><MudText Style="font-weight:800;">Linkovi</MudText></MudListItem>
                        <MudDivider></MudDivider>
                        <MudListItem><MudLink Color="Color.Inherit" Href="https://www.mysilo.com/en">MySilo</MudLink></MudListItem>
                        <MudListItem><MudLink Color="Color.Inherit" Href="https://www.facebook.com/profile.php?id=61553131146287" >Facebook</MudLink></MudListItem>
                    </MudList>
               
                    
                
            </MudStack>
            
            
         

    </MudContainer>
    <MudDivider DividerType="DividerType.Inset" Style="margin:10px"  />
    
    <MudContainer >
       <MudGrid Justify="Justify.Center"  >
           <MudItem >
                  <MudText Style="font-weight:800;">SiLoKon j.d.o.o.</MudText>
           </MudItem>
             <MudItem >
                 <MudText  >Ante Starčevića 13, Slavonski Kobaš</MudText>
             </MudItem>
             <MudItem>
                 <MudText  >david@silokon.com</MudText>
             </MudItem>
             <MudItem>
                 <MudText  >+385 97 685 4356</MudText>
             </MudItem>
       </MudGrid>

    </MudContainer>
    
</MudPaper>
 </div>
