

<div>
<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Naslovnica</MudNavLink>
    <MudNavLink Href="https://www.mysilo.com/en/page/Catalogues" Match="NavLinkMatch.Prefix">Katalozi</MudNavLink>
    <MudNavGroup Title="Reference" Expanded="true">
        <MudNavLink Href="/silosi">Silosi</MudNavLink>
        <MudNavLink Href="/konstrukcije">Konstrukcije</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/kontakt" Match="NavLinkMatch.Prefix">Kontakt</MudNavLink>
</MudNavMenu>

</div>